In [73]:
#Importing libraries
import pandas as pd
import sqlite3

In [2]:
#Importing SQL Engine
from sqlalchemy import create_engine
engine = create_engine('sqlite://' ,echo = False)

In [3]:
#Reading dataset 
covid = pd.read_excel('C:/Users/Sam/Downloads/covid-data.xlsx')
vaccine= pd.read_excel('C:/Users/Sam/Downloads/vaccinedata.xlsx')
covid.head(50)

,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million
0,AFG,Asia,Afghanistan,2020-02-24,39835428.0,5.0,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,AFG,Asia,Afghanistan,2020-02-29,39835428.0,5.0,0.0,0.714,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,AFG,Asia,Afghanistan,2020-03-01,39835428.0,5.0,0.0,0.714,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,AFG,Asia,Afghanistan,2020-03-02,39835428.0,5.0,0.0,0.000,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,AFG,Asia,Afghanistan,2020-03-03,39835428.0,5.0,0.0,0.000,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,AFG,Asia,Afghanistan,2020-03-04,39835428.0,5.0,0.0,0.000,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,AFG,Asia,Afghanistan,2020-03-05,39835428.0,5.0,0.0,0.000,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,AFG,Asia,Afghanistan,2020-03-06,39835428.0,5.0,0.0,0.000,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,AFG,Asia,Afghanistan,2020-03-07,39835428.0,8.0,3.0,0.429,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,AFG,Asia,Afghanistan,2020-03-08,39835428.0,8.0,0.0,0.429,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,AFG,Asia,Afghanistan,2020-03-09,39835428.0,8.0,0.0,0.429,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,AFG,Asia,Afghanistan,2020-03-10,39835428.0,8.0,0.0,0.429,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,AFG,Asia,Afghanistan,2020-03-11,39835428.0,11.0,3.0,0.857,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,AFG,Asia,Afghanistan,2020-03-12,39835428.0,11.0,0.0,0.857,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,AFG,Asia,Afghanistan,2020-03-13,39835428.0,11.0,0.0,0.857,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,AFG,Asia,Afghanistan,2020-03-14,39835428.0,14.0,3.0,0.857,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,AFG,Asia,Afghanistan,2020-03-15,39835428.0,20.0,6.0,1.714,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,AFG,Asia,Afghanistan,2020-03-16,39835428.0,25.0,5.0,2.429,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,AFG,Asia,Afghanistan,2020-03-17,39835428.0,26.0,1.0,2.571,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,AFG,Asia,Afghanistan,2020-03-18,39835428.0,26.0,0.0,2.143,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,AFG,Asia,Afghanistan,2020-03-19,39835428.0,26.0,0.0,2.143,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,AFG,Asia,Afghanistan,2020-03-20,39835428.0,24.0,-2.0,1.857,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,AFG,Asia,Afghanistan,2020-03-21,39835428.0,24.0,0.0,1.429,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,AFG,Asia,Afghanistan,2020-03-22,39835428.0,34.0,10.0,2.000,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,AFG,Asia,Afghanistan,2020-03-23,39835428.0,40.0,6.0,2.143,1.0,1.0,...,0.004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,AFG,Asia,Afghanistan,2020-03-24,39835428.0,42.0,2.0,2.286,1.0,0.0,...,0.004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,AFG,Asia,Afghanistan,2020-03-25,39835428.0,74.0,32.0,6.857,1.0,0.0,...,0.004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,AFG,Asia,Afghanistan,2020-03-26,39835428.0,80.0,6.0,7.714,2.0,1.0,...,0.007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,AFG,Asia,Afghanistan,2020-03-27,39835428.0,91.0,11.0,9.571,2.0,0.0,...,0.007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,AFG,Asia,Afghanistan,2020-03-28,39835428.0,106.0,15.0,11.714,2.0,0.0,...,0.007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,AFG,Asia,Afghanistan,2020-03-29,39835428.0,114.0,8.0,11.429,4.0,2.0,...,0.014,1.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,AFG,Asia,Afghanistan,2020-03-30,39835428.0,114.0,0.0,10.571,4.0,0.0,...,0.011,1.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,AFG,Asia,Afghanistan,2020-03-31,39835428.0,166.0,52.0,17.714,4.0,0.0,...,0.011,1.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,AFG,Asia,Afghanistan,2020-04-01,39835428.0,192.0,26.0,16.857,4.0,0.0,...,0.011,1.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,AFG,Asia,Afghanistan,2020-04-02,39835428.0,235.0,43.0,22.143,4.0,0.0,...,0.007,1.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,AFG,Asia,Afghanistan,2020-04-03,39835428.0,269.0,34.0,25.429,5.0,1.0,...,0.011,1.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,AFG,Asia,Afghanistan,2020-04-04,39835428.0,270.0,1.0,23.429,5.0,0.0,...,0.011,1.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,AFG,Asia,Afghanistan,2020-04-05,39835428.0,299.0,29.0,26.429,7.0,2.0,...,0.011,1.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,AFG,Asia,Afghanistan,2020-04-06,39835428.0,337.0,38.0,31.857,7.0,0.0,...,0.011,1.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,AFG,Asia,Afghanistan,2020-04-07,39835428.0,367.0,30.0,28.714,11.0,4.0,...,0.025,1.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,AFG,Asia,Afghanistan,2020-04-08,39835428.0,423.0,56.0,33.000,14.0,3.0,...,0.036,1.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,AFG,Asia,Afghanistan,2020-04-09,39835428.0,444.0,21.0,29.857,15.0,1.0,...,0.039,1.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,AFG,Asia,Afghanistan,2020-04-10,39835428.0,521.0,77.0,36.000,15.0,0.0,...,0.036,1.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,AFG,Asia,Afghanistan,2020-04-11,39835428.0,521.0,0.0,35.857,15.0,0.0,...,0.036,1.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,AFG,Asia,Afghanistan,2020-04-12,39835428.0,555.0,34.0,36.571,18.0,3.0,...,0.039,1.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,AFG,Asia,Afghanistan,2020-04-13,39835428.0,607.0,52.0,38.571,19.0,1.0,...,0.043,1.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#Changing to colums for readability
print(covid.columns.to_list())

['iso_code', 'continent', 'location', 'date', 'population', 'total_cases', 'new_cases', 'new_cases_smoothed', 'total_deaths', 'new_deaths', 'new_deaths_smoothed', 'total_cases_per_million', 'new_cases_per_million', 'new_cases_smoothed_per_million', 'total_deaths_per_million', 'new_deaths_per_million', 'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients', 'icu_patients_per_million', 'hosp_patients', 'hosp_patients_per_million', 'weekly_icu_admissions', 'weekly_icu_admissions_per_million', 'weekly_hosp_admissions', 'weekly_hosp_admissions_per_million']

In [4]:
covid.to_sql('coviddata', con = engine)
vaccine.to_sql('vaccine1data', con = engine)

In [74]:
# Having a glance at the dataset
sql =  '''

select * from coviddata
where continent is not null

'''
df_sql = pd.read_sql_query(sql, con = engine)
df_sql.head(10)

,index,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,...,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million
0,0,AFG,Asia,Afghanistan,2020-02-24,39835428.0,5.0,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,AFG,Asia,Afghanistan,2020-02-25,39835428.0,5.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,AFG,Asia,Afghanistan,2020-02-26,39835428.0,5.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,AFG,Asia,Afghanistan,2020-02-27,39835428.0,5.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,AFG,Asia,Afghanistan,2020-02-28,39835428.0,5.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,AFG,Asia,Afghanistan,2020-02-29,39835428.0,5.0,0.0,0.714,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,AFG,Asia,Afghanistan,2020-03-01,39835428.0,5.0,0.0,0.714,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,AFG,Asia,Afghanistan,2020-03-02,39835428.0,5.0,0.0,0.000,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,AFG,Asia,Afghanistan,2020-03-03,39835428.0,5.0,0.0,0.000,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,AFG,Asia,Afghanistan,2020-03-04,39835428.0,5.0,0.0,0.000,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [101]:
# total deaths vs total cases (Percentage)
sql = '''

Select Location, date, total_cases,total_deaths,round((total_deaths/total_cases)*100,4) as DeathPercentage
From coviddata
Where location like 'India'
and continent is not null 
order by 1,2

'''
df_sql = pd.read_sql_query(sql, con = engine)
df_sql.tail(50)

    location        date  total_cases  total_deaths  DeathPercentage
600    India  2021-09-21   33531498.0      445768.0           1.3294
601    India  2021-09-22   33563421.0      446050.0           1.3290
602    India  2021-09-23   33594803.0      446368.0           1.3287
603    India  2021-09-24   33624419.0      446658.0           1.3284
604    India  2021-09-25   33652745.0      446918.0           1.3280
605    India  2021-09-26   33678786.0      447194.0           1.3278
606    India  2021-09-27   33697581.0      447373.0           1.3276
607    India  2021-09-28   33716451.0      447751.0           1.3280
608    India  2021-09-29   33739980.0      448062.0           1.3280
609    India  2021-09-30   33766707.0      448339.0           1.3278
610    India  2021-10-01   33791061.0      448573.0           1.3275
611    India  2021-10-02   33813903.0      448817.0           1.3273
612    India  2021-10-03   33834702.0      448997.0           1.3270
613    India  2021-10-04   33853048.0      449260.0           1.3271
614    India  2021-10-05   33871881.0      449538.0           1.3272
615    India  2021-10-06   33894312.0      449856.0           1.3272
616    India  2021-10-07   33915569.0      450127.0           1.3272
617    India  2021-10-08   33935309.0      450375.0           1.3272
618    India  2021-10-09   33953475.0      450589.0           1.3271
619    India  2021-10-10   33971607.0      450782.0           1.3269
620    India  2021-10-11   33985920.0      450963.0           1.3269
621    India  2021-10-12   34001743.0      451189.0           1.3270
622    India  2021-10-13   34020730.0      451435.0           1.3269
623    India  2021-10-14   34037592.0      451814.0           1.3274
624    India  2021-10-15   34053573.0      451980.0           1.3273
625    India  2021-10-16   34067719.0      452124.0           1.3271
626    India  2021-10-17   34081315.0      452290.0           1.3271
627    India  2021-10-18   34094373.0      452454.0           1.3271
628    India  2021-10-19   34108996.0      452651.0           1.3271
629    India  2021-10-20   34127450.0      452811.0           1.3268
630    India  2021-10-21   34143236.0      453042.0           1.3269
631    India  2021-10-22   34159562.0      453708.0           1.3282
632    India  2021-10-23   34175468.0      454269.0           1.3292
633    India  2021-10-24   34189774.0      454712.0           1.3300
634    India  2021-10-25   34202202.0      455068.0           1.3305
635    India  2021-10-26   34215653.0      455653.0           1.3317
636    India  2021-10-27   34231809.0      456386.0           1.3332
637    India  2021-10-28   34246157.0      457191.0           1.3350
638    India  2021-10-29   34260470.0      457740.0           1.3361
639    India  2021-10-30   34273300.0      458186.0           1.3369
640    India  2021-10-31   34285814.0      458437.0           1.3371
641    India  2021-11-01   34296237.0      458880.0           1.3380
642    India  2021-11-02   34308140.0      459191.0           1.3384
643    India  2021-11-03   34321025.0      459652.0           1.3393
644    India  2021-11-04   34333754.0      459873.0           1.3394
645    India  2021-11-05   34344683.0      460265.0           1.3401
646    India  2021-11-06   34355509.0      460791.0           1.3412
647    India  2021-11-07   34366987.0      461057.0           1.3416
648    India  2021-11-08   34377113.0      461389.0           1.3421
649    India  2021-11-09   34388579.0      461849.0           1.3430

In [104]:
# Calculating total percentage of population infected.
sql = '''

Select Location, date, Population, total_cases,  (total_cases/population)*100 as PercentPopulationInfected
From coviddata
Where location like 'India'
order by 1,2

'''
df_sql = pd.read_sql_query(sql, con = engine)
df_sql.tail(30)

    location        date    population  total_cases  PercentPopulationInfected
620    India  2021-10-11  1.393409e+09   33985920.0                   2.439048
621    India  2021-10-12  1.393409e+09   34001743.0                   2.440184
622    India  2021-10-13  1.393409e+09   34020730.0                   2.441547
623    India  2021-10-14  1.393409e+09   34037592.0                   2.442757
624    India  2021-10-15  1.393409e+09   34053573.0                   2.443904
625    India  2021-10-16  1.393409e+09   34067719.0                   2.444919
626    India  2021-10-17  1.393409e+09   34081315.0                   2.445895
627    India  2021-10-18  1.393409e+09   34094373.0                   2.446832
628    India  2021-10-19  1.393409e+09   34108996.0                   2.447881
629    India  2021-10-20  1.393409e+09   34127450.0                   2.449205
630    India  2021-10-21  1.393409e+09   34143236.0                   2.450338
631    India  2021-10-22  1.393409e+09   34159562.0                   2.451510
632    India  2021-10-23  1.393409e+09   34175468.0                   2.452652
633    India  2021-10-24  1.393409e+09   34189774.0                   2.453678
634    India  2021-10-25  1.393409e+09   34202202.0                   2.454570
635    India  2021-10-26  1.393409e+09   34215653.0                   2.455535
636    India  2021-10-27  1.393409e+09   34231809.0                   2.456695
637    India  2021-10-28  1.393409e+09   34246157.0                   2.457725
638    India  2021-10-29  1.393409e+09   34260470.0                   2.458752
639    India  2021-10-30  1.393409e+09   34273300.0                   2.459673
640    India  2021-10-31  1.393409e+09   34285814.0                   2.460571
641    India  2021-11-01  1.393409e+09   34296237.0                   2.461319
642    India  2021-11-02  1.393409e+09   34308140.0                   2.462173
643    India  2021-11-03  1.393409e+09   34321025.0                   2.463098
644    India  2021-11-04  1.393409e+09   34333754.0                   2.464011
645    India  2021-11-05  1.393409e+09   34344683.0                   2.464795
646    India  2021-11-06  1.393409e+09   34355509.0                   2.465572
647    India  2021-11-07  1.393409e+09   34366987.0                   2.466396
648    India  2021-11-08  1.393409e+09   34377113.0                   2.467123
649    India  2021-11-09  1.393409e+09   34388579.0                   2.467946

In [108]:
# Calculating highest percentage of population infected
sql = '''

Select Location, Population, MAX(total_cases) as HighestInfectionCount,  Max((total_cases/population))*100 as PercentPopulationInfected
From coviddata
--Where location like '%states%'
Group by Location, Population
order by PercentPopulationInfected desc

'''
df_sql = pd.read_sql_query(sql, con = engine)
df_sql.head(30)

,location,population,HighestInfectionCount,PercentPopulationInfected
0,Montenegro,628051.0,149729.0,23.840261
1,Seychelles,98910.0,22457.0,22.704479
2,Andorra,77354.0,15717.0,20.318277
3,Georgia,3979773.0,761067.0,19.123377
4,Serbia,6871547.0,1192476.0,17.353821
5,Slovenia,2078723.0,360614.0,17.347862
6,Czechia,10724553.0,1828440.0,17.049102
7,San Marino,34010.0,5610.0,16.495148
8,Maldives,543620.0,89126.0,16.394908
9,Lithuania,2689862.0,430855.0,16.017736
10,Bahrain,1748295.0,277113.0,15.850471
11,Estonia,1325188.0,206972.0,15.618312
12,Israel,9291000.0,1335184.0,14.370724
13,Cyprus,896005.0,126231.0,14.088203
14,United States,332915074.0,46693111.0,14.025532
15,United Kingdom,68207114.0,9412185.0,13.799418
16,Netherlands,17173094.0,2264308.0,13.185207
17,Luxembourg,634814.0,83479.0,13.150151
18,Latvia,1866934.0,233698.0,12.517743
19,Croatia,4081657.0,507535.0,12.434533
20,Belgium,11632334.0,1438830.0,12.369229
21,Argentina,45605823.0,5299418.0,11.620047
22,Sweden,10160159.0,1179192.0,11.606039
23,Uruguay,3485152.0,395610.0,11.351298
24,Mongolia,3329282.0,368353.0,11.064037
25,Costa Rica,5139053.0,563290.0,10.960969
26,Armenia,2968128.0,322364.0,10.860852
27,France,67564251.0,7334332.0,10.855344
28,Portugal,10167923.0,1099307.0,10.811520
29,Panama,4381583.0,473522.0,10.807099

In [10]:
#Total death count
sql = '''

Select Location, MAX(cast(Total_deaths as int)) as TotalDeathCount
From coviddata
--Where location like '%states%'
Where continent is not null 
Group by Location
order by TotalDeathCount desc

'''
df_sql = pd.read_sql_query(sql, con = engine)
df_sql.head(30)

          location  TotalDeathCount
0    United States         757309.0
1           Brazil         609756.0
2            India         461849.0
3           Mexico         290110.0
4           Russia         244588.0
5             Peru         200469.0
6        Indonesia         143578.0
7   United Kingdom         142556.0
8            Italy         132491.0
9         Colombia         127610.0
10            Iran         127551.0
11          France         118970.0
12       Argentina         116165.0
13         Germany          96968.0
14    South Africa          89387.0
15           Spain          87558.0
16         Ukraine          78017.0
17          Poland          77980.0
18          Turkey          72510.0
19         Romania          51483.0
20     Philippines          44567.0
21           Chile          37883.0
22         Ecuador          32989.0
23         Hungary          31521.0
24         Czechia          31173.0
25        Malaysia          29427.0
26          Canada          29273.0
27        Pakistan          28566.0
28      Bangladesh          27904.0
29         Belgium          26200.0

In [11]:
#Total deaths per continent
sql = '''

Select continent, MAX(cast(Total_deaths as int)) as TotalDeathCount
From coviddata
Where continent is not null 
Group by continent
order by TotalDeathCount desc

'''
df_sql = pd.read_sql_query(sql, con = engine)
df_sql.head(30)

       continent  TotalDeathCount
0  North America           757309
1  South America           609756
2           Asia           461849
3         Europe           244588
4         Africa            89387
5        Oceania             1858

In [12]:
#Total death percentage
sql= '''

Select SUM(new_cases) as total_cases, SUM(cast(new_deaths as int)) as total_deaths, SUM(cast(new_deaths as int))/SUM(New_Cases)*100 as DeathPercentage
From coviddata
where continent is not null 
order by 1,2

'''

df_sql = pd.read_sql_query(sql, con = engine)
df_sql.head(30)

   total_cases  total_deaths  DeathPercentage
0  250220860.0       5047408         2.017181

In [110]:
sql = '''

With PopvsVac (Continent, Location, Date, Population, New_Vaccinations, RollingPeopleVaccinated)
as
(
Select dea.continent, dea.location, dea.date, dea.population, vac.new_vaccinations
, SUM(vac.new_vaccinations) OVER (Partition by dea.Location Order by dea.location, dea.Date) as RollingPeopleVaccinated
--, (RollingPeopleVaccinated/population)*100
From coviddata dea
Join vaccine1data vac
	On dea.location = vac.location
	and dea.date = vac.date
where dea.continent is not null 
--order by 2,3
)
Select *, (RollingPeopleVaccinated/Population)*100
From PopvsVac
'''
df_sql = pd.read_sql_query(sql, con = engine)
df_sql.head(30)

,Continent,Location,Date,Population,New_Vaccinations,RollingPeopleVaccinated,(RollingPeopleVaccinated/Population)*100
0,Asia,Afghanistan,2020-02-24,39835428.0,NaN,NaN,NaN
1,Asia,Afghanistan,2020-02-25,39835428.0,NaN,NaN,NaN
2,Asia,Afghanistan,2020-02-26,39835428.0,NaN,NaN,NaN
3,Asia,Afghanistan,2020-02-27,39835428.0,NaN,NaN,NaN
4,Asia,Afghanistan,2020-02-28,39835428.0,NaN,NaN,NaN
5,Asia,Afghanistan,2020-02-29,39835428.0,NaN,NaN,NaN
6,Asia,Afghanistan,2020-03-01,39835428.0,NaN,NaN,NaN
7,Asia,Afghanistan,2020-03-02,39835428.0,NaN,NaN,NaN
8,Asia,Afghanistan,2020-03-03,39835428.0,NaN,NaN,NaN
9,Asia,Afghanistan,2020-03-04,39835428.0,NaN,NaN,NaN
10,Asia,Afghanistan,2020-03-05,39835428.0,NaN,NaN,NaN
11,Asia,Afghanistan,2020-03-06,39835428.0,NaN,NaN,NaN
12,Asia,Afghanistan,2020-03-07,39835428.0,NaN,NaN,NaN
13,Asia,Afghanistan,2020-03-08,39835428.0,NaN,NaN,NaN
14,Asia,Afghanistan,2020-03-09,39835428.0,NaN,NaN,NaN
15,Asia,Afghanistan,2020-03-10,39835428.0,NaN,NaN,NaN
16,Asia,Afghanistan,2020-03-11,39835428.0,NaN,NaN,NaN
17,Asia,Afghanistan,2020-03-12,39835428.0,NaN,NaN,NaN
18,Asia,Afghanistan,2020-03-13,39835428.0,NaN,NaN,NaN
19,Asia,Afghanistan,2020-03-14,39835428.0,NaN,NaN,NaN
20,Asia,Afghanistan,2020-03-15,39835428.0,NaN,NaN,NaN
21,Asia,Afghanistan,2020-03-16,39835428.0,NaN,NaN,NaN
22,Asia,Afghanistan,2020-03-17,39835428.0,NaN,NaN,NaN
23,Asia,Afghanistan,2020-03-18,39835428.0,NaN,NaN,NaN
24,Asia,Afghanistan,2020-03-19,39835428.0,NaN,NaN,NaN
25,Asia,Afghanistan,2020-03-20,39835428.0,NaN,NaN,NaN
26,Asia,Afghanistan,2020-03-21,39835428.0,NaN,NaN,NaN
27,Asia,Afghanistan,2020-03-22,39835428.0,NaN,NaN,NaN
28,Asia,Afghanistan,2020-03-23,39835428.0,NaN,NaN,NaN
29,Asia,Afghanistan,2020-03-24,39835428.0,NaN,NaN,NaN

# rough

In [14]:
sql = '''

select location, max(cast(total_deaths as int))
from coviddata
where continent is not null
group by 1
order by 2 desc

'''
df_sql = pd.read_sql_query(sql, con = engine)
df_sql.head(30)

          location  max(cast(total_deaths as int))
0    United States                        757309.0
1           Brazil                        609756.0
2            India                        461849.0
3           Mexico                        290110.0
4           Russia                        244588.0
5             Peru                        200469.0
6        Indonesia                        143578.0
7   United Kingdom                        142556.0
8            Italy                        132491.0
9         Colombia                        127610.0
10            Iran                        127551.0
11          France                        118970.0
12       Argentina                        116165.0
13         Germany                         96968.0
14    South Africa                         89387.0
15           Spain                         87558.0
16         Ukraine                         78017.0
17          Poland                         77980.0
18          Turkey                         72510.0
19         Romania                         51483.0
20     Philippines                         44567.0
21           Chile                         37883.0
22         Ecuador                         32989.0
23         Hungary                         31521.0
24         Czechia                         31173.0
25        Malaysia                         29427.0
26          Canada                         29273.0
27        Pakistan                         28566.0
28      Bangladesh                         27904.0
29         Belgium                         26200.0

In [ ]:
sql = '''

select continent,population, max(total_cases), max(cast(total_deaths as int)) as totaldeath, round(MAX((total_deaths/population)*100),2) as deathpop
from coviddata
where continent is not null
group by 1
order by 2 desc

'''
df_sql = pd.read_sql_query(sql, con = engine)
df_sql.head(30)

In [ ]:
sql = '''

select * from vaccine1data

'''
df_sql = pd.read_sql_query(sql, con = engine)
df_sql.head(15)

In [8]:
vaccine.columns.to_list()

['iso_code',
 'continent',
 'location',
 'date',
 'new_tests',
 'total_tests',
 'total_tests_per_thousand',
 'new_tests_per_thousand',
 'new_tests_smoothed',
 'new_tests_smoothed_per_thousand',
 'positive_rate',
 'tests_per_case',
 'tests_units',
 'total_vaccinations',
 'people_vaccinated',
 'people_fully_vaccinated',
 'total_boosters',
 'new_vaccinations',
 'new_vaccinations_smoothed',
 'total_vaccinations_per_hundred',
 'people_vaccinated_per_hundred',
 'people_fully_vaccinated_per_hundred',
 'total_boosters_per_hundred',
 'new_vaccinations_smoothed_per_million',
 'stringency_index',
 'population_density',
 'median_age',
 'aged_65_older',
 'aged_70_older',
 'gdp_per_capita',
 'extreme_poverty',
 'cardiovasc_death_rate',
 'diabetes_prevalence',
 'female_smokers',
 'male_smokers',
 'handwashing_facilities',
 'hospital_beds_per_thousand',
 'life_expectancy',
 'human_development_index',
 'excess_mortality_cumulative_absolute',
 'excess_mortality_cumulative',
 'excess_mortality',
 'excess_mortality_cumulative_per_million']

In [ ]:
covid.head(1)

In [5]:
sql = '''
Select location,total_vaccinations from vaccine1data


'''
df_sql = pd.read_sql_query(sql, con = engine)
df_sql.tail(3)

        location  total_vaccinations
132221  Zimbabwe           6021461.0
132222  Zimbabwe           6034324.0
132223  Zimbabwe           6056713.0

In [7]:
sql = '''
Select * from coviddata cd
join vaccine1data cv on
cd.location = cv.location
group by 1


'''
df_sql = pd.read_sql_query(sql, con = engine)
df_sql.head(15)

,index,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,0,AFG,Asia,Afghanistan,2020-02-24,39835428.0,5.0,5.0,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,1,AFG,Asia,Afghanistan,2020-02-25,39835428.0,5.0,0.0,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,2,AFG,Asia,Afghanistan,2020-02-26,39835428.0,5.0,0.0,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,3,AFG,Asia,Afghanistan,2020-02-27,39835428.0,5.0,0.0,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,4,AFG,Asia,Afghanistan,2020-02-28,39835428.0,5.0,0.0,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
5,5,AFG,Asia,Afghanistan,2020-02-29,39835428.0,5.0,0.0,0.714,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
6,6,AFG,Asia,Afghanistan,2020-03-01,39835428.0,5.0,0.0,0.714,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
7,7,AFG,Asia,Afghanistan,2020-03-02,39835428.0,5.0,0.0,0.000,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
8,8,AFG,Asia,Afghanistan,2020-03-03,39835428.0,5.0,0.0,0.000,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
9,9,AFG,Asia,Afghanistan,2020-03-04,39835428.0,5.0,0.0,0.000,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
10,10,AFG,Asia,Afghanistan,2020-03-05,39835428.0,5.0,0.0,0.000,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
11,11,AFG,Asia,Afghanistan,2020-03-06,39835428.0,5.0,0.0,0.000,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
12,12,AFG,Asia,Afghanistan,2020-03-07,39835428.0,8.0,3.0,0.429,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
13,13,AFG,Asia,Afghanistan,2020-03-08,39835428.0,8.0,0.0,0.429,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
14,14,AFG,Asia,Afghanistan,2020-03-09,39835428.0,8.0,0.0,0.429,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [10]:
sql = '''
Select cd.continent,cd.location, cd.population, cv.total_vaccinations from coviddata cd
join vaccine1data cv on
cd.location = cv.location
group by 1


'''
df_sql = pd.read_sql_query(sql, con = engine)
df_sql.head(15)

       continent     location    population total_vaccinations
0           None       Africa  1.373486e+09               None
1         Africa      Algeria  4.461663e+07               None
2           Asia  Afghanistan  3.983543e+07               None
3         Europe      Albania  2.872934e+06               None
4  North America     Anguilla  1.512500e+04               None
5        Oceania    Australia  2.578822e+07               None
6  South America    Argentina  4.560582e+07               None

In [16]:
sql = '''


With PopvsVac (Continent, Location, Date, Population, New_Vaccinations, RollingPeopleVaccinated)
as
(
Select dea.continent, dea.location, dea.date, dea.population, vac.new_vaccinations
, SUM(vac.new_vaccinations) OVER (Partition by dea.Location Order by dea.location, dea.Date) as RollingPeopleVaccinated
--, (RollingPeopleVaccinated/population)*100
From coviddata dea
Join vaccine1data vac
	On dea.location = vac.location
	and dea.date = vac.date
where dea.continent is not null 
--order by 2,3
)
Select *, (RollingPeopleVaccinated/Population)*100
From PopvsVac
'''
df_sql = pd.read_sql_query(sql, con = engine)
df_sql.tail(15)

,Continent,Location,Date,Population,New_Vaccinations,RollingPeopleVaccinated,(RollingPeopleVaccinated/Population)*100
123761,Africa,Zimbabwe,2021-10-26,15092171.0,15695.0,5122616.0,33.942208
123762,Africa,Zimbabwe,2021-10-27,15092171.0,16052.0,5138668.0,34.048567
123763,Africa,Zimbabwe,2021-10-28,15092171.0,14221.0,5152889.0,34.142795
123764,Africa,Zimbabwe,2021-10-29,15092171.0,17107.0,5169996.0,34.256145
123765,Africa,Zimbabwe,2021-10-30,15092171.0,11709.0,5181705.0,34.333728
123766,Africa,Zimbabwe,2021-10-31,15092171.0,8200.0,5189905.0,34.388061
123767,Africa,Zimbabwe,2021-11-01,15092171.0,11729.0,5201634.0,34.465777
123768,Africa,Zimbabwe,2021-11-02,15092171.0,18945.0,5220579.0,34.591306
123769,Africa,Zimbabwe,2021-11-03,15092171.0,16772.0,5237351.0,34.702436
123770,Africa,Zimbabwe,2021-11-04,15092171.0,16726.0,5254077.0,34.813262
123771,Africa,Zimbabwe,2021-11-05,15092171.0,14598.0,5268675.0,34.909987
123772,Africa,Zimbabwe,2021-11-06,15092171.0,16667.0,5285342.0,35.020422
123773,Africa,Zimbabwe,2021-11-07,15092171.0,14436.0,5299778.0,35.116074
123774,Africa,Zimbabwe,2021-11-08,15092171.0,12863.0,5312641.0,35.201304
123775,Africa,Zimbabwe,2021-11-09,15092171.0,22389.0,5335030.0,35.349652

In [59]:
sql = '''
select location, total_cases,new_cases, first_value(new_cases) over (partition by location order by total_cases desc)
from coviddata 
where continent is not null and location like 'India'

'''
df_sql = pd.read_sql_query(sql, con = engine)
df_sql.head(2000)

,location,total_cases,new_cases,first_value(new_cases) over (partition by location order by total_cases desc)
0,India,34388579.0,11466.0,11466.0
1,India,34377113.0,10126.0,11466.0
2,India,34366987.0,11478.0,11466.0
3,India,34355509.0,10826.0,11466.0
4,India,34344683.0,10929.0,11466.0
...,...,...,...,...
645,India,3.0,0.0,11466.0
646,India,2.0,1.0,11466.0
647,India,1.0,1.0,11466.0
648,India,1.0,0.0,11466.0
649,India,1.0,0.0,11466.0

In [ ]:
sql = '''
select